form {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 20px 20px 0 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em 0;
  background: $mainColor;
  color: $AccentColor;
  z-index: 1000;

  .title {
    display: block;
    font-weight: bold;
    margin: 20px auto;
  }
}
.timer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .column {
    border-radius: 5px;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 2px solid $AccentColor;

    select {
      background: none;
      outline: none;
      border: none;
      height: 2em;
      & > option {
        background: $mainColor;
      }
    }
  }
}

.catagory_info {
  select {
    width: 320px;
    padding: 1em;
    border-radius: 10px;
    border: 2px solid $AccentColor;
    background: $mainColor;
    & > option {
      background: $mainColor;
      padding: 1em;
    }
  }
}
.todo_submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  input {
    width: 310px;
    font-size: 1em;
    border: 2px solid $AccentColor;
    line-height: 1.5em;
    padding: 8px 0 8px 10px;
  }
  button {
    width: 330px;
    margin: 20px 0;
    padding: 1em 0;
    color: #fff;
    background: $AccentColor;
  }
}
